{% extends "base.html" %}

{% block content %}
<section id="steps" class="steps section-bg">
  <div class="content-item">
    <div class="container jumbotron">
      <h1><br>Thanks for visiting! Come back soon.</h1>
      <br><br><br>
      <div class="row">
        <div class="col-md-3">
          <a class="link" href="{% url 'index_page' %}"><h3>Go to Homepage</h3> </a>
        </div>
      </div>

      <br><br><br><br><br><br><br>
      <br><br><br>
    </div>
  </div>
</section>

{% endblock %}
